.line {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}

.copy-section .copy-card-content p {
  width: 100%;
  font-size: 2rem; /* Increased from 1.5rem */
  line-height: 1.2;
  text-align: center;
}
